<div class="page">
  <div class="section clientsWrapper">
    <div class="h2">Clients</div>
    <div class="dashBox info">
      <div class="header">Total</div>
      <div class="amount"><%= clients.total %></div>
    </div>
    <div class="dashBox add client">+</div>
  </div>

  <div class="section projectsWrapper">
    <div class="h2">Projects</div>
    <div class="dashBox add project">+</div>
  </div>

  <div class="section sessionWrapper">
    <div class="h2">Work Session</div>
    <div class="sessionBox">Start Session</div>
  </div>

</div>