<div class="nav">
  <div class="mainNav">
    <div class="item dash active"><a href="/dashboard">Dashboard</a></div>
    <div class="item clients"><a href="/clients">Clients</a></div>
    <div class="item projects">Projects</div>
  </div>
  
  <div class="placeHolder">
    <div class="line left"></div>
    <div class="line right"></div>
  </div>

  <div class="hamburger">
    <div class="bun"></div>
    <div class="bun"></div>
    <div class="bun"></div>
  </div>

  <div class="menuWrapper">
    
  </div>
</div>