<div class="page">
  <div class="signUpForm">
    <div class="header">Sign Up</div>
    <form id="signUp">
      <input type="email" class="email input" placeholder="Email">
      <input type="password" class="password input" placeholder="Password">
      <input type="password" class="passwordConfirmation input" placeholder="Confirm password">
      <input type="submit" class="submit">
    </form>
    <div class="introFormText">Already have an account? <a href="/signIn">Sign In</a></div>
  </div>
</div>